<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
      <ul class="nav nav-pills mb-4">
        @for (step of steps; let i = $index; track i) {
          <li class="nav-item">
            <a
              href="javascript:void(0)"
              class="nav-link"
              [class.active]="i === currentStep()"
              [class.disabled]="i > currentStep()"
              (click)="goTo(i)"
            >
              Step {{ i + 1 }}: {{ step }}
            </a>
          </li>
        }
      </ul>

      <div class="card p-4 mb-3">
        @switch (currentStep()) {
          @case (0) {
            <app-dealer-basic-info></app-dealer-basic-info>

          }
          @case (1) {
            <div>
              <h5>Address</h5>
              <input class="form-control" placeholder="Enter address" />
            </div>
          }
          @case (2) {
            <div>
              <h5>Review</h5>
              <p>Review your details here...</p>
            </div>
          }
          @case (3) {
            <div>
              <h5>Confirmation</h5>
              <p>Booking confirmed!</p>
            </div>
          }
        }
      </div>

      <div class="d-flex justify-content-between">
        <button
          (click)="prev()"
          [disabled]="currentStep() === 0"
          class="btn btn-secondary"
        >
          Previous
        </button>

        <button
          (click)="next()"
          class="btn btn-primary"
        >
          {{ currentStep() === steps.length - 1 ? 'Finish' : 'Next' }}
        </button>
      </div>

    </div>
  </div>
</div>
