<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
    <div class="left">
        <img src="https://i.imgur.com/cMy8V5j.png" alt="user" width="100">
        <h4>Alex William</h4>
         <p>UI Developer</p>
         <div> <h4>Email</h4>
            <p>alexgmail.com</p></div>
            <div class="data">
                <h4>Phone</h4>
                 <p>0001-213-998761</p>
           </div>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="Verified"><span>Verified <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
              </svg></span></div>
            <div class="dbtn"><a href="/dhome/editdealer"><button type="button" class="btn btn-outline-secondary">Edit Details</button></a></div>
            <div class="info_data">
                <div class="data">
                    <h5>Dealer Name : muthuthe mass</h5>
                    <h5>car Parking Name : muthu car parking</h5>
                    <address>Address : Old No.10, New No. 7, Bharathi Road, Perambur, Chennai, Tamil Nadu 600011</address>
                </div>
               
            </div>
        </div>
      
      <div class="projects">
            <h3>Description</h3>
            <div class="projects_data">
                 <div class="data">
                    <h4>Recent</h4>
                    <p>Car parking is the act of stopping and leaving a vehicle in a designated space, usually unoccupied. The space can be paved or unpaved, and can be found in a variety of locations, including parking lots, parking garages, or on city streets</p>
                 </div>
                 <div class="data">
                   <h4>Most Viewed</h4>
                    <p>dolor sit amet.</p>
              </div>
            </div>
        </div>
<!--       
        <div class="social_media">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
      </div> -->
    </div>
</div>