<div class="card">
    <div class="left-container">
      <img src="" alt="Profile Image">
      <p>Vichle picture</p>
    </div>
    <div class="right-container">
      <h3 class="gradienttext">Profile Details</h3>
      <table>
          <tr>
              <td><input type="text"></td>
              <td>John Doe</td>
            </tr>
        <tr>
          <td>Age :</td>
          <td>35</td>
        </tr>
        <tr>
          <td>Mobile :</td>
          <td>+91 XXXXXXXXXX</td>
        </tr>
        <tr>
          <td>Email :</td>
          <td>johnexamplecom</td>
        </tr>
        <tr>
          <td>Address :</td>
          <td>123 Main St, Anytown, USA</td>
        </tr>
      </table>
      <div class="credit">Made with <span style="color:tomato;font-size:20px;">❤ </span>by<a href="https://www.learningrobo.com/"> Learning Robo</a></div>
    </div>
  </div>
  
  
  
  