<div class="card">
    <div class="left-container">
      <img src="" alt="Profile Image">
      <p>Vichle picture</p>
    </div>
    <div class="right-container">
      <h3 class="gradienttext">Profile Details</h3>
      <table>
          <tr>
            <td>Enter the name</td>
              <td><input type="text"></td>
            </tr>
        <tr>
          <td>viechle Modal</td>
          <td>
            
            <!-- <div class="dropdown">
            <button (click)="vechilemodal()" class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" (keyup)="filterFunction()">
              <a href="#about">About</a>
              <a href="#base">Base</a>
              <a href="#blog">Blog</a>
              <a href="#contact">Contact</a>
              <a href="#custom">Custom</a>
              <a href="#support">Support</a>
              <a href="#tools">Tools</a>
            </div>
          </div> -->
        

          <form autocomplete="off" action="/action_page.php">
            <div class="autocomplete" style="width:300px;">
              <input id="myInput" type="text" name="myCountry" placeholder="Country">
            </div>
            <input type="submit">
          </form>
        
        
        
        
        
        </td>
        </tr>
        <tr>
          <td>Mobile :</td>
          <td>+91 XXXXXXXXXX</td>
        </tr>
        <tr>
          <td>Email :</td>
          <td>johnexamplecom</td>
        </tr>
        <tr>
          <td>Address :</td>
          <td>123 Main St, Anytown, USA</td>
        </tr>
      </table>
      <div class="credit">Made with <span style="color:tomato;font-size:20px;">❤ </span>by<a href="https://www.learningrobo.com/"> Learning Robo</a></div>
    </div>
  </div>
  
  
  
  