<div class="recent-grid">
    <div class="projects">
      <div class="card">
        <div class="card-head">
          <h2>Payment history</h2>
          <div>
            <div class="search">
              <input type="text" class="searchTerm" placeholder="What are you looking for?">
              <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
             </button>
           </div>
          </div>
        </div>
        <div class="card-body">
<div class="table-responsive">
 <table width="100%">
  <thead >
    <tr>
      <td>Customer Booking-id</td>
      <td>Slot Number</td>
      <td>Confirmed Slot</td>
      <td>Ongoing-Closed</td>
      <td>Status</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>History payment</td>
      <td>pending payment</td>
      <td>total payment</td>
      <td><span class="status red"></span>
      Closed</td>
      <td><span class="paystatus">Online</span></td>
    </tr>
    <tr>
      <td>History payment</td>
      <td>pending payment</td>
      <td>total payment</td>
      <td><span class="status red"></span>
      Closed</td>
      <td><span class="paystatuscash">Cash</span></td>
    </tr>
    <tr>
      <td>History payment</td>
      <td>pending payment</td>
      <td>total payment</td>
      <td><span class="status red"></span>
      Closed</td>
      <td><span class="paystatus">Online</span></td>
    </tr>
    <tr>
      <td>History payment</td>
      <td>pending payment</td>
      <td>total payment</td>
      <td><span class="status red"></span>
      Closed</td>
      <td><span class="paystatuscash">Cash</span></td>
    </tr>
    <tr>
      <td>History payment</td>
      <td>pending payment</td>
      <td>total payment</td>
      <td><span class="status red"></span>
      Closed</td>
      <td><span class="paystatus">Online</span></td>
    </tr>
    <tr>
      <td>History payment</td>
      <td>pending payment</td>
      <td>total payment</td>
      <td><span class="status red"></span>
      Closed</td>
      <td><span class="paystatuscash">Cash</span></td>
    </tr>


  </tbody>
</table>
