@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.search {
  width: 100%;
  position: relative;
  display: flex;
  right: 350px;
}

.searchTerm {
  width: 350px;
  border: 1px solid #000000;
  border-right: none;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.dname {
  color: white;
}
.dealerdata {
  border-bottom: 1px solid white;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 60px;
  height: 35px;
  border: 1px solid #000000;;
  background: #ffffff;
  text-align: center;
  color: rgb(255, 21, 119);
  border-radius: 0 5px 5px 0 !important;
  cursor: pointer;
  position: relative;
  font-size: 20px;
}

.searchButton:hover{
  background-color:  rgb(255, 21, 119);
  color: #fff;
  border:1px solid rgb(0, 0, 0);
}

 table{
  border-collapse:collapse ;

 }


 .card{
  background: rgb(255, 21, 119);
  width: 90%;
  position: relative;
  left: 50px;
  top: 40px;
  color: #fff;
  border: 1px solid white;
 }

 .card-head{
  padding: 1rem;
 }
  
 .card-head{
  display: flex;
  justify-content: space-between;
  align-items: center;

 }
 thead tr{
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
 }

 thead td {
  font-weight: 700;
 }

 td{
  padding: .5rem 1rem;
  font-size: .9rem;
  color: #ffffff;
 }
 td .status {
display: inline-block;
height: 10px;
width: 10px;
border-radius: 50%;
margin-right: 1rem;
 }

 .paystatuscash{
  border: 1px solid rgb(255, 0, 0);
  width: 80px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  border-radius: 5px;
  color: rgb(255, 0, 0);
  background: #fff;

 }

 .paystatus{
  border: 1px solid rgb(0, 255, 8);
  width: 80px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  border-radius: 5px;
  color: green;
  background: #fff;
 }

 .status.red{
   background: rgb(255, 21, 21);
 }

 .status.green{
  background: rgb(34, 255, 56);
 }
 

 tr td:last-child{
  display: flex;
  align-items: center;
 }

 .table-responsive{
  width:100%;
  overflow: auto;
 }

 .customer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem .7rem;
 }

 .info{
  display: flex;
  align-items: center;
 }

 .info img{
  border-radius: 50%;
  margin-right: 1rem;
 }

 .info h4{
  font-size: .8rem;
  font-weight: 600;
  color: #222;
 }

 .info small{
  font-weight: 600;
  color: #7f7f7f;
 }

 .contact i{
 font-size: 1.2rem;
 display: inline-block;
 margin-left: .5rem;
 color: crimson;
 }

 @media only screen and (max-width: 960px){

  .cards{
    grid-template-columns: repeat(3,1fr);
  }
  .recent-grid{
    grid-template-columns: 60% 40%;
  }
 }
 @media only screen and (max-width: 768px){

  .cards{
    grid-template-columns: repeat(2,1fr);
  }
  .recent-grid{
    grid-template-columns: 100%;
  }
  .search-wrapper{
    display: none;
  }
 }
 @media only screen and (max-width: 768px){

  .cards{
    grid-template-columns: 100%;
  }

}

