
.fullbody{
    height: 100%;
   background-image: url("/assets/pexels-jimbear-2612855.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.halfbody{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{

  background-color: rgba(0,0,0, 0.4);
    border-radius: 30px;
  border: 3px solid white;
  color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 16px;
    line-height: 20px;
  color: white;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container .icon{
  background: #0b3d91;
}

.container button{
    background-color: #3b7093;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}


.container button.hidden{
    background-color:transparent;
  border:1px solid;
  background:linear-gradient(to right,#3b7093,lightseagreen,darkred);

}

.container form{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.4s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(200%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color:#1e8bd9;
    height: 100%;
    background-image:url("/assets/fire-fighters-1045906.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
    color: #07d3ff;
    position: relative;
    left: -100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}

.error{
    font-size: 12px;
    color: #ff0000;
    font-family: sans-serif;
    font-weight: 600;
}

.Dlog{
    padding-top: 10px;
}



.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.glass-btn {
  width: 40px;
  height: 40px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  margin-left: 1em;
  margin-right: 1em;
  cursor: pointer;
  transition: all 0.3s;

  &.blue-btn {
    -webkit-box-shadow: 0 20px 20px -17px rgba(0, 111, 255, 0.53);
    -moz-box-shadow: 0 20px 20px -17px rgba(0, 111, 255, 0.53);
    box-shadow: 0 20px 20px -17px rgba(0, 111, 255, 0.53);

    &:hover {
      -webkit-box-shadow: 0 20px 35px -16px rgba(0, 111, 255, 0.65);
      -moz-box-shadow: 0 20px 35px -16px rgba(0, 111, 255, 0.65);
      box-shadow: 0 20px 35px -16px rgba(0, 111, 255, 0.65);
    }

    .content {
      font-size: 4em;
      font-family: "Roboto", sans-serif;
      background: linear-gradient(to right, #006fff, #00acff 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 10px 37px rgba(0, 111, 255, 0.8);
    }
  }

  &.red-btn {
    -webkit-box-shadow: 0 20px 20px -17px rgba(255, 16, 39, 0.5);
    -moz-box-shadow: 0 20px 20px -17px rgba(255, 16, 39, 0.5);
    box-shadow: 0 20px 20px -17px rgba(255, 16, 39, 0.5);

    &:hover {
      -webkit-box-shadow: 0 20px 35px -16px rgba(255, 16, 39, 0.57);
      -moz-box-shadow: 0 20px 35px -16px rgba(255, 16, 39, 0.57);
      box-shadow: 0 20px 35px -16px rgba(255, 16, 39, 0.57);
    }

    .content {
      font-size: 4em;
      font-family: "Roboto", sans-serif;
      background: linear-gradient(to right, #ff1027, #ff4f06 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0 10px 37px rgba(255, 16, 39, 0.6);
    }
  }

  &.amber-btn {
    -webkit-box-shadow: 0 20px 20px -17px rgba(255, 159, 16, 0.53);
    -moz-box-shadow: 0 20px 20px -17px rgba(255, 159, 16, 0.53);
    box-shadow: 0 20px 20px -17px rgba(255, 159, 16, 0.53);

    &:hover {
      -webkit-box-shadow: 0 20px 35px -16px rgba(255, 159, 16, 0.6);
      -moz-box-shadow: 0 20px 35px -16px rgba(255, 159, 16, 0.6);
      box-shadow: 0 20px 35px -16px rgba(255, 159, 16, 0.6);
    }

    .content {
      font-size: 4em;
      font-family: "Roboto", sans-serif;
      background: linear-gradient(to right, #ff8d00, #f7ad07 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0 10px 37px rgba(255, 94, 16, 0.7);
    }
  }

  &:hover {
    transform: translateY(-5px);
    transition: all 0.3s;
  }
}




.btn-log{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #fff;
  border-radius: 6px;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.btn-log span{
  position: relative;
  z-index: 2;
}

.btn-log:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 5px;
  background:linear-gradient(to right, blue, red);
  transition: all .35s;
}

.btn-log:hover{
  color: #fff;
}

.btn-log:hover:after{
  width: 100%;
}















