################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/CarParkingBooking/.vs/*
CarParkingBooking/.vs/CarParkingBooking/v17/.futdcache.v2
/CarParkingBooking/.vs/CarParkingBooking/*
/CarParkingBooking/obj/*
/CarParkingBookingDatabase/obj/Debug/net8.0/*
/CarParkingBookingVM/obj/Debug/net8.0/*
/CarParkingBookingDatabase/obj/*
/CarParkingBookingVM/obj/*
/ValidateCarParkingDetials/obj/*
/CarParkingBooking/obj/Debug/net8.0
/CarParkingBookingDatabase/obj/Debug/net8.0
/CarParkingBookingVM/obj/Debug/net8.0
/ValidateCarParkingDetails/obj/Debug/net8.0
/CarParkingBooking/obj/Debug/net8.0/*
.vs/
.obj/
CarParkingBooking_UI/.hintrc
ValidateCarParkingDetails/obj/project.assets.json
ValidateCarParkingDetails/obj/project.nuget.cache
ValidateCarParkingDetails/obj/ValidateCarParkingDetails.csproj.nuget.dgspec.json
/CarParkingBooking/bin/Debug/net8.0/appsettings.json
/CarParkingBooking/bin/Debug/net8.0/CarParkingBookingVM.pdb
*.dll
/CarParkingBooking/bin/Debug/net8.0/CarParkingBooking.deps.json
/CarParkingBooking/bin/Debug/net8.0/CarParkingBooking.dll
/CarParkingBooking/bin/Debug/net8.0/CarParkingBooking.pdb
/CarParkingBooking/bin/Debug/net8.0/CarParkingBookingDatabase.dll
/CarParkingBooking/bin/Debug/net8.0/CarParkingBookingVM.dll
/CarParkingBooking/bin/Debug/net8.0/ValidateCarParkingDetails.dll
/CarParkingBooking/bin/Debug/net8.0/CarParkingBookingDatabase.pdb
/CarParkingBooking/bin/Debug/net8.0/CarParkingBooking.exe
/CarParkingBooking/bin/Debug/net8.0/ValidateCarParkingDetails.pdb
/CarParkingBookingDatabase/bin/Debug/net8.0/CarParkingBookingDatabase.deps.json
/CarParkingBookingDatabase/bin/Debug/net8.0/CarParkingBookingDatabase.dll
/CarParkingBookingDatabase/bin/Debug/net8.0/CarParkingBookingDatabase.pdb
/CarParkingBookingVM/bin/Debug/net8.0/CarParkingBookingVM.deps.json
/CarParkingBookingVM/bin/Debug/net8.0/CarParkingBookingVM.pdb
/CarParkingBookingVM/bin/Debug/net8.0/CarParkingBookingVM.dll
/ValidateCarParkingDetails/bin/Debug/net8.0/CarParkingBookingDatabase.dll
/ValidateCarParkingDetails/bin/Debug/net8.0/CarParkingBookingDatabase.pdb
/ValidateCarParkingDetails/bin/Debug/net8.0/CarParkingBookingVM.dll
/ValidateCarParkingDetails/bin/Debug/net8.0/ValidateCarParkingDetails.deps.json
/ValidateCarParkingDetails/bin/Debug/net8.0/ValidateCarParkingDetails.dll
/ValidateCarParkingDetails/bin/Debug/net8.0/CarParkingBookingVM.pdb
/ValidateCarParkingDetails/bin/Debug/net8.0/ValidateCarParkingDetails.pdb
/ValidateCarParkingDetails/obj/project.assets.json
/ValidateCarParkingDetails/obj/project.nuget.cache
/ValidateCarParkingDetails/obj/ValidateCarParkingDetails.csproj.nuget.dgspec.json
