<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">All-Payment</a>
      <div>
        <div class="search">
          <input type="text" class="searchTerm" placeholder="What are you looking for?">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
         </button>
       </div>
      </div>
    </div>
  </nav>

  <div class="cards">
    <div class="card-single">
      <div>
        <h1>54</h1>
      <span>Total Earning</span>
      </div>
      
      <div>
        <i class='bx bxs-user' ></i>
      </div>
    </div>
    
    <div class="card-single">
      <div>
        <h1>79</h1>
      <span>Offline--Earning</span>
      </div>
      
      <div>
        <i class='bx bx-list-check'></i>
      </div>
    </div>
    
    <div class="card-single">
      <div>
        <h1>49</h1>
        <span>Your Earning</span>
      </div>
    
      <div>
        <i class="fa-solid fa-car"></i>
      </div>
    </div>
    
    <div class="card-single">
      <div>
        <h1>$100k</h1>
      <span>Income</span>
      </div>
      
      <div>
        <i class='bx bx-wallet-alt' ></i>
      </div>
    </div>
  </div>















