.container-fluid{
    background-color:#002147;
    height: 50px;

}
.navbar{
    margin: 0px;
    padding: 0px;
    position: sticky;
  top: 0;
    width: 100%;
z-index: 1;
}

.form-control{
    box-shadow: none;

}
.d-flex{
    margin-right: 80px;
}

.navbar a{
    color: white;
}

.d-flex ul li{
    color: white;
}

.sprofile{
  margin-right: 20px;
  font-size: 18px;
  font-family: "Arial Narrow", Arial, sans-serif;

}
a{
  text-decoration: none;
}

.navbar-nav .nav-item:hover{
  background: #fff;
  border-radius: 10px;
}

.nav-item a:hover{
  color: #0b3d91;
}

