<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Zenpark</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/main"> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="false">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="main/profile">Details</a></li>
              <li><a class="dropdown-item" href="#">Setting</a></li>
              <li><a class="dropdown-item" href="#">About</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href=" ">Logout</a></li>
            </ul>
          </li>
          </ul>
          
        </form>
      </div>
    </div>
  </nav>

  
  <!--
  zenpark mean
Sent by Copilot:
Zenpark is a service that allows you to easily park in private parking lots located in residential areas, hotels, or businesses. These parking spaces are often more affordable than street parking options. With Zenpark, you can reserve parking spots by specifying your desired location, estimated arrival and departure times, and vehicle type. It’s a convenient way to save time and reduce stress when searching for parking-->

<!--
https://codecanyon.net/item/spotfinder-parking-booking-react-native-expo-app-template/53069637-->