.container-fluid{
    background-color: #1acdff;
    height: 50px;
}
.navbar{
    margin: 0px;
    padding: 0px;
    position: static;
    width: 100%;
}

.form-control{
    box-shadow: none;
}
.d-flex{
    margin-right: 80px;
}