<div class="main-content">
  <header>
    <h2>
      <label >
        <i class='bx bxs-bar-chart-alt-2' ></i>
      </label>
      Dashboard
    </h2>
    <!-- <div class="search-wrapper">
      <i class='bx bx-search' ></i>
      <input type="search" placeholder="Search here">
    </div> -->
    <div class="user-wrapper">
      <img src="..\assets\zoro.jpeg" width="40px" height="30px" alt="">
      <div>
        <h4>infinity hellking</h4>
        <small>super admin</small>
      </div>
    </div>
  </header>
  <main>
    <div class="cards">
      <div class="card-single">
        <div>
          <h1>{{DealerSlots.newCustomers?.length}}</h1>
          <span>Customer</span>
        </div>

        <div>
          <i class='bx bxs-user'></i>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h1>{{DealerSlots.bookedSlots}}</h1>
          <span>Booking slot</span>
        </div>

        <div>
          <i class='bx bx-list-check'></i>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h1>{{DealerSlots.availableSlots}}</h1>
          <span>Available slot</span>
        </div>

        <div>
          <i class="fa-solid fa-car"></i>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h1>$100k</h1>
          <span>Income</span>
        </div>

        <div>
          <i class='bx bx-wallet-alt'></i>
        </div>
      </div>
    </div>

    <div class="recent-grid">
      <div class="projects">
        <div class="card">
          <div class="card-head">
            <h2>Recent Booking</h2>
            <!-- <div>
              <div class="wrap">
              <div class="search">
                 <input type="text" class="searchTerm" placeholder="What are you looking for?">
                 <button type="submit" class="searchButton">
                   <i class="fa fa-search"></i>
                </button>
              </div>
           </div>

          </div> -->
            <button>
              <a href="/dhome/booking-details">see all</a> <i class='bx bxs-chevrons-right'></i></button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>Booking Id</th>
                  <th>Vehicle Number</th>
                  <th>Date</th>
                  <th>Slot Number</th>
                  <th>Booking Details</th>

                </tr>
                </thead>
                <tbody>
                  @for(bookingDetails of DealerSlots.recentBookings; track bookingDetails.bookingID)
                  {
                    <tr>
                      <td data-label="Event Name">{{bookingDetails?.bookingID}}</td>
                      <td data-label="Total Seats">{{bookingDetails?.vehicleNumber}}</td>
                      <td data-label="Event Date">{{bookingDetails?.date | date:'yyyy-MM-dd hh:mm:ss a'}}</td>
                      <td data-label="slot number">{{bookingDetails?.slot_Number}}</td>
                      <td data-label="Booking Status">{{bookingDetails?.status}}</td>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="customers">
        <div class="card">
          <div class="card-head">
            <h2>New customer</h2>
            <!--            <button>See all <i class='bx bxs-chevrons-right'></i></button>-->
          </div>
          <div class="card-body2">`
            @for(newUser of DealerSlots.newCustomers; track newUser){
              <div class="customer">
                <div class="info">
                  <img [src]="newUser.picture" width="40px" height="40px" class="img-fluid" alt="Image">
                  <div>
                 <h4>{{newUser.name}}</h4>
                 <small>{{newUser.mobileNumber}}</small>
                </div>
               </div>
               <div class="contact ">
                 <i class='bx bx-user-circle'></i>
                 <i class='bx bx-message-alt-minus'></i>
                 <i class='bx bx-phone'></i>
               </div>
             </div>
            }
                 
          </div>

</div>
</div>
</div>
  </main>
</div>


<!-- <div>
    <nav class="navbar navbar-light bg-light">
      <div class="wrap">
        <div class="search">
           <input type="text" class="searchTerm" placeholder="Search Booking Number">
           <button type="submit" class="searchButton">
             <i class="fa fa-search"></i>
          </button>
        </div>
     </div>
    </nav>
  </div> -->
