<div class="card">
  <div class="left-container">
    <h1>Vehicle Image</h1>
    <video #video width="200" height="150" autoplay></video>
    <button (click)="capturePhoto()">Capture Photo</button>
    <canvas #canvas width="640" height="480" style="display: none"></canvas>
    <img #photo alt="Captured Image" />

    <div class="d-grid gap-2 col-4 mx-auto">
      <button
        class="btn btn-primary"
        type="button"
        id="ebtnn"
        (click)="userconfirmbooking()"
      >
        Add New Vehicle
      </button>

    </div>
  </div>
  <div class="right-container">
    <form [formGroup]="vehicleDetials">
      <h3>Vehicle Details</h3>

      <tr>
        <td>Vehicle Number</td>
        <td>
          <input
            type="text"
            class="form-control"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="VehicleNumber"
          />
        </td>
      </tr>
      <tr>
        <td>Vehicle Number Image</td>
        <div class="mb-3">
          <input
            class="form-control"
            type="file"
            id="formFile"
            formControlName="VehicleNumberImage"
          />
        </div>
      </tr>
      <tr>
        <td>Owner Name</td>
        <td>
          <input
            type="text"
            class="form-control"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="OwnerName"
          />
        </td>
      </tr>
      <tr>
        <td>Driver Number</td>
        <td>
          <input
            type="text"
            class="form-control"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="DriverNumber"
          />
        </td>
      </tr>
      <tr>
        <td>vehicle Modal</td>
        <td>
          <!-- <div class="dropdown">
            <button (click)="vechilemodal()" class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" (keyup)="filterFunction()">
              <a href="#about">About</a>
              <a href="#base">Base</a>
              <a href="#blog">Blog</a>
              <a href="#contact">Contact</a>
              <a href="#custom">Custom</a>
              <a href="#support">Support</a>
              <a href="#tools">Tools</a>
            </div>
          </div> -->

          <div class="autocomplete">
            <input
              id="myInput"
              class="form-control"
              type="text"
              name="myCountry"
              placeholder="Country"
              formControlName="vehicleModal"
            />
          </div>
        </td>
      </tr>
      <tr>
        <td>Mobile Number</td>
        <td>
          <input
            type="text"
            class="form-control"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="mobileNumber"
          />
        </td>
      </tr>

    </form>
  </div>
</div>
