<div class="warper">
  <div class="card">
    <div>
      <h3 class="page-title">Booking Slot</h3>
    </div>
    <a class="back-arrow" routerLink="/main/dealer-details"><i class="fas fa-arrow-left back-arrow"></i></a>
    <!-- Back Arrow -->

    <div class="profile">
      <img [src]="bookingDetails()?.vehicleInfo?.vehicleImage ?? '' " alt="..." class="rounded mx-auto d-block"
           id="profile-img">
      <span class="vechile-name">Vehicle Image</span>
    </div>
    <hr class="hr hr-blurry" />
    <form class="container-fluid">
      <div class="row justify-content-center align-items-center mt-3 g-2">
        <div class="col">Name: </div>
        <div class="col">
          <app-value-validators [value]="bookingDetails().customerDetails.customerName" />
        </div>
      </div>

      <div class="row justify-content-center align-items-center mt-3 g-2">
        <div class="col">Booking Id: </div>
        <div class="col">
          <app-value-validators [value]="bookingDetails().bookingId" />
        </div>
      </div>

      <div class="row justify-content-center align-items-center mt-3 g-2">
        <div class="col">Vechile Modal:  </div>
        <div class="col">
          <app-value-validators [value]="bookingDetails().vehicleInfo?.vehicleModel" />
        </div>
      </div>

      <div class="row justify-content-center align-items-center mt-3 g-2">
        <div class="col">Vechile Number:   </div>
        <div class="col">
          <app-value-validators [value]="bookingDetails().vehicleInfo?.vehicleNumber" />
        </div>
      </div>

      <div class="row justify-content-center align-items-center mt-3 g-2">
        <div class="col">Booking From: </div>
        <div class="col">
          <app-value-validators [value]="bookingDetails().bookingDate.from" />
        </div>
      </div>
      
        <div class="row justify-content-center align-items-center mt-3 g-2">
          <div class="col">Booking To: </div>
          <div class="col">
            <app-value-validators [value]="bookingDetails().bookingDate.to" />
          </div>
        </div>

        <div class="row justify-content-center align-items-center mt-3 g-2">
          <div class="col text-center">
            <button (click)="bookingslot()" class="btn btn-outline-danger" type="button">History</button>
          </div>
        </div>
    </form>


    <!--        <div class="profile-pic">-->
    <!--          <img Src=".\assets\car.jpg" alt=""></div>-->
    <!--        <div class="social-icons">-->
    <!--            <div class="third mt-4">-->
    <!--                <button  class="btn btn-success btn-block"><i class="fa fa-clock-o"></i> Book Now</button>-->
    <!--             </div>-->
    <!--          <h1 style="color: black">lisa my world</h1>-->
    <!--        </div>-->
  </div>
</div>
