<div class="split left">
  <div class="centered">
  <div>
    <nav class="navbar navbar-light bg-light">
      <div class="wrap">
        <div class="search">
           <input type="text" class="searchTerm" placeholder="What are you looking for?">
           <button type="submit" class="searchButton">
             <i class="fa fa-search"></i>
          </button>
        </div>
     </div>
    </nav>
  </div>
<div class="dealerdata">
<div class="dname">
  <span><h2>MuthuParking</h2></span>
  <p class="data-box">
    <a href="main/artical"> Muthu Car parking
     chennai-perambu,sembuim,janaki raman street
   </a>
  </p>
</div>
</div>
<div class="dealerdata">
  <div class="dname">
    <span><h2>MuthuParking</h2></span>
    <p class="data-box">
      <a href="main/artical"> Muthu Car parking
       chennai-perambu,sembuim,janaki raman street
     </a>
    </p>
  </div>
  </div>
  <div class="dealerdata">
    <div class="dname">
      <span><h2>MuthuParking</h2></span>
      <p class="data-box">
        <a href="main/artical"> Muthu Car parking
         chennai-perambu,sembuim,janaki raman street
       </a>
      </p>
    </div>
    </div>
    <div class="dealerdata">
      <div class="dname">
        <span><h2>MuthuParking</h2></span>
        <p class="data-box">
          <a href="main/artical"> Muthu Car parking
           chennai-perambu,sembuim,janaki raman street
         </a>
        </p>
      </div>
      </div>
      <div class="dealerdata">
        <div class="dname">
          <span><h2>MuthuParking</h2></span>
          <p class="data-box">
            <a href="main/artical"> Muthu Car parking
             chennai-perambu,sembuim,janaki raman street
           </a>
          </p>
        </div>
        </div>
        <div class="dealerdata">
          <div class="dname">
            <span><h2>MuthuParking</h2></span>
            <p class="data-box">
              <a href="main/artical"> Muthu Car parking
               chennai-perambu,sembuim,janaki raman street
             </a>
            </p>
          </div>
          </div>
          <div class="dealerdata">
            <div class="dname">
              <span><h2>MuthuParking</h2></span>
              <p class="data-box">
                <a href="main/artical"> Muthu Car parking
                 chennai-perambu,sembuim,janaki raman street
               </a>
              </p>
            </div>
            </div>
            <div class="dealerdata">
              <div class="dname">
                <span><h2>MuthuParking</h2></span>
                <p class="data-box">
                  <a href="main/artical"> Muthu Car parking
                   chennai-perambu,sembuim,janaki raman street
                 </a>
                </p>
              </div>
              </div>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <router-outlet></router-outlet>
  </div>
</div>













<!-- 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <i class='bx bxs-map' ></i>
      <a class="navbar-brand" href="#" id="sdata">Location</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
        <form class="d-flex">
            <input type="text" class="form-control" placeholder="Search Location" id="loac" aria-label="Username" aria-describedby="basic-addon1">
            <button type="button" class="btn btn-outline-primary" id="btnd" (click)="getdata()">Search</button>
        </form>
      </div>
    </div>
  </nav>
<div >
  <section class="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 vh-100 ">
          <div class="dealerdata">
            <p class="data-box">
           <a href="main/artical"> Muthu Car parking
            chennai-perambu,sembuim,janaki raman street
          </a>
         </p>
         <div class="ratings ml-2">

          <i class="fa fa-star checked"></i>
          <i class="fa fa-star checked"></i>
          <i class="fa fa-star checked"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>

      </div>
          </div>

<ng-template #t let-fill="fill">
  <i class="bi-heart-fill">
    <ng-container *ngIf="fill > 0">
      <i class="bi-heart-fill filled" [style.width.%]="fill"></i>
    </ng-container>
  </i>
</ng-template>
 -->
