<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4 mt-3">
           <div class="first">
            <h6 class="heading">Muthu car parking</h6>
             <div class="time d-flex flex-row align-items-center justify-content-between mt-3">
               
               <!-- <div class="d-flex align-items-center">
                   <i class="fa fa-clock-o clock"></i>
                   <span class="hour ml-1">24 hrs/7days open</span>
               </div> -->

               <!-- <div>
                   <span class="font-weight-bold">  1hr-Rs.10</span>
               </div>
            </div> -->



</div>
<div class="second d-flex flex-row mt-2">
                    <div class="image mr-3">
                     <img src="\assets\d1.jpg" class="rounded-circle" width="60"/>
                    </div>   

                    <div class="">

                        <div class="d-flex flex-row mb-1">

                            <span>Mass muthu</span>
                            

                            <!-- <div class="ratings ml-2">

                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                
                            </div> -->
                            
                        </div>
                        <address >
                            MUTHU CAR PARKING - THE GREATER CHENNAI CORP- MLCP - GCC
                            Parking lot in Chennai, Tamil Nadu
                          </address>
                          <div class="dire">
                          <a  href="https://maps.app.goo.gl/2X3CFxkmRB9fr5e56"><i class='bx bxs-direction-right'> <label>direction</label></i></a>
                        </div>
                         

                        <!-- <div>

                            <button class="btn btn-outline-dark btn-sm px-2">+ follow</button>
                            <button class="btn btn-outline-dark btn-sm">See Profile</button>
                            <button class="btn btn-outline-dark btn-sm"><i class="fa fa-comment-o"></i></button>
                            
                        </div> -->
                        
                    </div> 




</div>


<p>A car parking slot is a designated area in a parking lot or by the side of the road where a vehicle can be parked. There are several types of parking slots, including perpendicular, parallel, and slanted</p>



<h6>Totale slot - 107</h6>
<h6>Avilable slot - 56</h6>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Timing
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <table>
            <tr>
              <td><p>Sunday - 06:00 AM to 06:00 PM</p></td>
            </tr>
            <tr>
              <td><p>Monday - 06:00 AM to 12:00 PM</p></td>
            </tr>
            <tr>
              <td><p>Tuesday - 10:00 AM to 12:00 PM</p></td>
            </tr>
            <tr>
              <td><p>Wednesday - 06:00 AM to 10:00 PM</p></td>
            </tr>
            <tr>
              <td><p>Thursday - 09:00 AM to 06:00 PM</p></td>
            </tr>
            <tr>
              <td><p>Friday - 08:00 AM to 10:00 PM</p></td>
            </tr>
            <tr>
              <td><p>Saturday - 06:00 AM to 06:00 PM</p></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Price List
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <table>
            <tr>
              <td>1Hr - Rs.10</td>
            </tr>
            <tr>
              <td>5Hrs - </td>
            </tr>
            <tr>
              <td>Tuesday</td>
            </tr>
            <tr>
              <td>Wednesday</td>
            </tr>
            <tr>
              <td>Thursday</td>
            </tr>
            <tr>
              <td>Friday</td>
            </tr>
            <tr>
              <td>Saturday</td>
            </tr>
          </table> </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Comments
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div>
<div class="third mt-4">

   <button (click)="userbooking()" class="btn btn-success btn-block"><i class="fa fa-clock-o"></i> Book Now</button>


</div>
</div>
</div>
      
