@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{

	background-color: #eee;
	font-family: 'Roboto', sans-serif;
}




.card{

	background: linear-gradient(to right,#01a9ac,#01dbdf);
	width: 450px;
    height:600px;
	border-radius: 10px;
	position: relative;
	bottom: 50px;
	overflow-y: scroll;
	
}




.heading{

   font-weight: 700;

}


.hour{
    margin-top: 1px;
	color: rgb(0, 0, 0);
	font-size: 12px;
}

.ratings i{

	color: #bbd64c;
}

.btn{

	border-radius: 15px !important;
    margin-top: 80px;
    background-color: #9be7fe;
    color: black;
}



.dire{
	border: 1px solid black;
    width: 100px;
	text-align: center;
	height: 40px;
	padding-top: 8px;
	margin-bottom: 10px;
}

