@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{

	background-color: #eee;
	font-family: 'Roboto', sans-serif;
}




.card{

    background-color:#92e2f9;
	width: 450px;
    height:500px;
	border-radius: 20px;
}


.heading{

   font-weight: 700;

}


.hour{
    margin-top: 1px;
	color: rgb(0, 0, 0);
	font-size: 12px;
}

.ratings i{

	color: #bbd64c;
}

.btn{

	border-radius: 15px !important;
    margin-top: 120px;
    background-color: #9be7fe;
    color: black;
}


.line-color{
	color: rgb(139, 219, 237);
	height: 3px;
}