<body>
    <div class="container">
        <div class="shape">
            <div class="image"></div>
        </div>
        <h3>Muthu Car Parking</h3>
        <h5 class="title"><i class='bx bxs-map' ></i>No. 1, New Bangaru Naidu Colony,
            K.K. Nagar (West), Chennai - 600078</h5>
        <p> <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span><span>(156) Feedbacks</span></p>
        <div class="icons">
            <button class="btn" ><a href="/main/book">Book Your Slot</a></button>
        </div>
    </div>
</body>
