@if(toastMessage$().length){
  @for(toast of toastMessage$();track toastMessage$())
  {
    <div
      class="toast-container position-fixed bottom-0 end-0 p-3"
      style="z-index: 1050"
    >
      <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">{{ NotificationType[toast.type] }}</strong>
          <small>just now</small>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="clearToast()"
          ></button>
        </div>
        <div class="toast-body">
          {{ toast.message }}
        </div>
      </div>
    </div>
  }

}

