<span><p class="head-slot">Payment History</p></span>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Booking Id</th>
              <th>Vehicle Number</th>
              <th>Date</th>
              <th>Status</th>
              <th>Slot Number</th>
              <th>Booking Details</th>
              <th>QR Code</th>

            </tr>
            </thead>
            <tbody>
            <tr>
              <td data-label="Event Name">12647</td>

              <td data-label="Total Seats">TN 18 AY 2345</td>
              <td data-label="Event Date">22/12/2021</td>
              <td data-label="Seats Available">Processing...</td>
              <td data-label="slot number">--</td>
              <td data-label="Booking Status"><a href="#" class="btn btn__active">Pending...</a></td>
            </tr>
            <tr>
              <td data-label="Event Name">Music</td>
              <td data-label="Total Seats">TN 18 AY 2345</td>
              <td data-label="Event Date">29/12/2021</td>
              <td data-label="Seats Available">Slot Allocated</td>
              <td data-label="slot number">12</td>
              <td data-label="Booking Status"><a href="#" class="btn btn__active">On going</a></td>

            </tr>
            <tr>
              <td data-label="Event Name">Craft</td>
              <td data-label="Total Seats">TN 18 AY 2345</td>
              <td data-label="Event Date">19/12/2021</td>
              <td data-label="Seats Available">Slot Allocated</td>
              <td data-label="slot number">14</td>
              <td data-label="Booking Status"><a href="#" class="btn btn__pledged">closed</a></td>

            </tr>
            <tr>
              <td data-label="Event Name">Go Kart</td>
              <td data-label="Total Seats">TN 18 AY 2345</td>
              <td data-label="Event Date">10/12/2021</td>
              <td data-label="Seats Available">0</td>
              <td data-label="Booking Status"><a href="#" class="btn btn__pledged">closed</a></td>

            </tr>
            <tr>
              <td data-label="Event Name">Designing</td>
              <td data-label="Total Seats">TN 18 AY 2345</td>
              <td data-label="Event Date">1/12/2021</td>
              <td data-label="Seats Available">0</td>
              <td data-label="Booking Status"><a href="#" class="btn btn__pledged">closed</a></td>

            </tr>
            <tr>
              <td data-label="Event Name">Designing</td>
              <td data-label="Total Seats">TN 18 AY 2345</td>
              <td data-label="Event Date">1/12/2021</td>
              <td data-label="Seats Available">0</td>
              <td data-label="Booking Status"><a href="#" class="btn btn__pledged">closed</a></td>

            </tr>
            <tr>
              <td data-label="Event Name">Designing</td>
              <td data-label="Total Seats">TN 18 AY 2345</td>
              <td data-label="Event Date">1/12/2021</td>
              <td data-label="Seats Available">0</td>
              <td data-label="Booking Status"><a href="#" class="btn btn__pledged">closed</a></td>

            </tr>
            <tr>
              <td data-label="Event Name">Designing</td>
              <td data-label="Total Seats">TN 18 AY 2345</td>
              <td data-label="Event Date">1/12/2021</td>
              <td data-label="Seats Available">0</td>
              <td data-label="Booking Status"><a href="#" class="btn btn__pledged">closed</a></td>

            </tr>
            <tr>
              <td data-label="Event Name">Designing</td>
              <td data-label="Total Seats">TN 18 AY 2345</td>
              <td data-label="Event Date">1/12/2021</td>
              <td data-label="Seats Available">0</td>
              <td data-label="Booking Status"><a href="#" class="btn btn__pledged">closed</a></td>

            </tr>
            <tr>
              <td data-label="Event Name">Designing</td>
              <td data-label="Total Seats">TN 18 AY 2345</td>
              <td data-label="Event Date">1/12/2021</td>
              <td data-label="Seats Available">0</td>
              <td data-label="Booking Status"><a href="#" class="btn btn__pledged">closed</a></td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>


