<div class="container">
    <div class="p1">
    <header>Booking Slot</header>
    <form action="#" class="form">
        <div class="column">
            <div class="input-box">
                <label for="#">Full Name</label>
                <input placeholder="Enter your name" required="" type="text" />
            </div>
            <div class="input-box">
                <label for="#">Date of Birth</label>
                <input id="date" name="date" required="" type="date" />
            </div>
            <div class="input-box">
                <label for="#">Email</label>
                <input placeholder="Enter your e-mail" required="" type="number" />
            </div>
        </div>
        <div class="column">
            <div class="input-box">
                <label for="#">Mobile Number</label>
                <input placeholder="### ### ####" required="" type="text" />
            </div>
            <div class="input-box">
                <label for="#">Gender</label>
                <div class="select-box">
                <select>
                    <option>Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
                </div>
            </div>
            <div class="input-box">
                <label for="#">Occupation</label>
                <input placeholder="Enter Occupation" required="" type="text" />
            </div>
        </div>
            <br />
            <header>Identity Details</header> <br />
            <div class="column">
                <div class="input-box">
                    <label for="#">ID Type</label>
                    <input placeholder="Eg: laptop" required="" type="text" />
                </div>
                <div class="input-box">
                    <label for="#">ID Number</label>
                    <input placeholder="Eg: 292991820" required="" type="text" />
                </div>
                <div class="input-box">
                    <label for="#">Authority of Issue</label>
                    <input placeholder="Enter issue Department" required="" type="text" />
                </div>
            </div>
            <div class="column">
                <div class="input-box">
                    <label for="#">Issue date</label>
                    <input id="date" name="date" required="" type="date" />
                </div>
                <div class="input-box">
                    <label for="#">Issue State</label>
                    <input placeholder="Eg:Tamil Nadu" required="" type="text" />
                </div>
                <div class="input-box">
                    <label for="#">Expiry Date</label>
                    <input id="date" name="date" type="date" />
                </div>
            </div>
            <button ><a href="/dhome/offline-bill">Confirm Booking</a></button>
        </form>
    </div>
    </div>