<div class="container">
    <div class="p1">
    <header>Booking Slot</header>
    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="form">
        <div class="column">
            <div class="input-box">
                <label for="fullName">Full Name</label>
                <input formControlName="fullName" placeholder="Enter your name" required type="text" />
            </div>
            
            <div class="input-box">
                <label for="email">Email</label>
                <input formControlName="email" placeholder="Enter your e-mail" required type="email" />
            </div>
            <div class="input-box">
                <label for="mobileNumber">Mobile Number</label>
                <input formControlName="mobileNumber" placeholder="##### #####" required type="text" />
            </div>
        </div>
        <div class="column">
            
           
            <div class="input-box">
                <label for="address">Address or Landmark</label>
                <input formControlName="address" placeholder="Address or Landmark" required type="text" />
            </div>
        </div>
            <br />
            <header>Identity Details</header> <br />
            <div class="column">
                <div class="input-box">
                    <label for="proof">Proof</label>
                    <div class="select-box">
                    <select formControlName="proof">
                        <option value="">-----</option>
                        <option value="Aadhaar">Aadhaar</option>
                        <option value="Driving">Driving</option>
                        <option value="PanCard">PanCard</option>
                    </select>
                    </div>
                </div>
                <div class="input-box">
                    <label for="proofNumber">Proof Number</label>
                    <input formControlName="proofNumber" placeholder="Proof Number" required type="text" />
                </div>
                <div class="input-box">
                    <label for="authorityOfIssue">Authority of Issue</label>
                    <input formControlName="authorityOfIssue" placeholder="Enter issue Department" required type="text" />
                </div>
            </div>
            <div class="column">
                <div class="input-box">
                    <label for="vehicleNumber">Vehicle Number</label>
                    <input formControlName="vehicleNumber" placeholder="Vehicle Number" required type="text" />
                </div>
                <div class="input-box">
                    <label for="vehicleModel">Vehicle Model</label>
                    <input formControlName="vehicleModel" placeholder="Eg:Tata Nexon 2020" required type="text" />
                </div>
                <div class="input-box">
                    <label for="bookingDate">Booking Date</label>
                    <input formControlName="bookingDate" type="date" />
                </div>
            </div>
            <button type="submit">Confirm Booking</button>
        </form>
    </div>
    </div>