<link href="main.component.css" rel="stylesheet">
<section class="homecontent">
  <div class="container py-5" id="datalist">
    <div class="row justify-content-center mb-3" id="bg-light">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="search-header">
                <div class="search-box-list">
                  <li class="hov">CITIES!
                    <ul class="main">
                      <li>
                        <button class="btn">Name dealer</button>
                      </li>
                      <li>
                        <button class="btn">Address</button>
                      </li>
                    </ul>
                  </li>

                  <div class="centerbox">
                    <div class="main-form-container">
                      <form class="" id="" method="post">
                        <input class="main-input main-name" name="NAME" placeholder="Search" type="text" />
                        <input class="main-input main-location" name="LOCATION" type="text" />
                        <input class="" id="main-submit" type="submit" value="Search" />
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-loading [isloading]="dealers().length <= 0" />


    @for (carpark of dealers(); let i = $index; track i) {
      <div class="home-dealerdata">
        <div class="row justify-content-center">
          <div class="col-md-12 col-xl-10">
            <div class="card-body">
              <div class="row">
                <div class="row-1">
                  <div class="col-4">
                    <figure class="movie">
                      <div class="movie__hero">
                        <img alt="Rambo" class="carslot__img" [src]="carpark.storeImage">
                      </div>

                      <div class="col-8">
                        <div class="d-flex flex-column bd-highlight mb-3">
                          <div class="p-1 bd-highlight">
                            <div class="movie__content">
                              <div class="movie__title">
                                <h1 class="heading__primary">{{ carpark.dealerStoreName }}
                                  <i class='bx bxs-car-garage'></i></h1>

                              </div>
                            </div>
                            <div class="p-2 bd-highlight">
                              <p class="carpark__description">
                                {{
                                  carpark.dealerAddress
                                }}
                              </p></div>
                            <div class="p-3 bd-highlight">
                              <div class="parktime__details">
                                <p class="parktime__details"><span class="icons icons-grey"><i class="fas fa-clock"></i> </span>1h
                                  00m</p>
                                <p class="parktime__details"><span class="icons icons-yellow"><i
                                  class="fas fa-file-invoice-dollar"></i>
                                    </span>₹ {{ carpark.price }}</p>
                                <button (click)="BookingSlot(carpark.dealerId)" class="booking__details">BOOK SLOT
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    }


  </div>
</section>
