<!-- <div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                Balaji
                            </h5>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="tab-content profile-tab" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>User Id</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>Kshiti123</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Name</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>Shambalaji</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Email</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>balajigmail.com</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Phone</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>123 456 7890</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Profession</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                        </div>
                                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Experience</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>Expert</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Hourly Rate</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>10$/hr</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Total Projects</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>230</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>English Level</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>Expert</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Availability</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>6 months</p>
                                                        </div>
                                                    </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Your Bio</label><br/>
                                                    <p>Your detail description</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                    <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                        <li>

                        </li>
                    </ul> -->
                <!-- </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" (click)=" editdata()">Edit profile</button>
             </div>

        </div>
    </form>

</div> -->

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


<div class="wrapper">
    <div class="left">
        <div style="height:150px;">
            @if(this.bsStore.userDetails.value.profilePicture !== null && this.bsStore.userDetails.value.profilePicture !== undefined){
                <img [src]="'data:image/jpeg;base64,' + this.bsStore.userDetails.value.profilePicture" alt="wait for the image" width="100">
            }
        </div>

        <h4>{{this.bsStore.userDetails.value.name}}</h4>
         <p>UI Developer</p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p>{{this.bsStore.userDetails.value.email}}</p>
                 </div>
                 <div class="data">
                   <h4>Phone</h4>
                    <p>{{this.bsStore.userDetails.value.mobileNumber}}</p>
                 </div>
            </div>
            <div class="info_data">
                <div class="data">
                   <h4>Address</h4>
                   <p>{{this.bsStore.userDetails.value.address}}</p>
                </div>
           </div>
        </div>

      <div class="projects">
            <h3>Car Details</h3>
        @if( datatttt()){
          @for( data of this.bsStore.VehicleData.value;track data.vehicleNumber){
            <app-card class="mb-5" [data]="data"></app-card>
          }
        }
        </div>

        <!-- <div class="social_media">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
      </div> -->
    </div>
</div>
