<div class="card">
  <div class="left-container d-flex justify-content-center align-items-center">
    <app-sliders class="container">
      <div *slide>
        <div class="text text-white fw-bold mb-2 pb-2 border-bottom d-flex align-items-center justify-content-center">
          Vehicle Image
        </div>
        <app-camera-capture (imageCaptured)="setImage($event,'VehicleImage')"></app-camera-capture>
      </div>
      <div *slide>
        <div class="text text-white fw-bold mb-2 pb-2 border-bottom d-flex align-items-center justify-content-center">
          Vehicle Number Image
        </div>
        <app-camera-capture (imageCaptured)="setImage($event,'VehicleNumberImage')"></app-camera-capture>
      </div>
    </app-sliders>
  </div>
  <div class="right-container d-flex justify-content-center align-items-center">
    <form [formGroup]="vehicleDetails" class="">
      <h3>Vehicle Details</h3>

      <tr>
        <td>Vehicle Number</td>
        <td>
          <input
            aria-describedby="basic-addon1"
            aria-label="Username"
            class="form-control"
            formControlName="VehicleNumber"
            type="text"
          />
        </td>
      </tr>
      <tr>
        <td>Owner Name</td>
        <td>
          <input
            aria-describedby="basic-addon1"
            aria-label="Username"
            class="form-control"
            formControlName="OwnerName"
            type="text"
          />
        </td>
      </tr>
      <tr>
        <td>Driver Number</td>
        <td>
          <input
            aria-describedby="basic-addon1"
            aria-label="Username"
            class="form-control"
            formControlName="DriverNumber"
            type="text"
          />
        </td>
      </tr>
      <tr>
        <td>vehicle Modal</td>
        <td>
          <!-- <div class="dropdown">
            <button (click)="vechilemodal()" class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" (keyup)="filterFunction()">
              <a href="#about">About</a>
              <a href="#base">Base</a>
              <a href="#blog">Blog</a>
              <a href="#contact">Contact</a>
              <a href="#custom">Custom</a>
              <a href="#support">Support</a>
              <a href="#tools">Tools</a>
            </div>
          </div> -->

          <div class="autocomplete">
            <input
              class="form-control"
              formControlName="vehicleModal"
              id="myInput"
              name="myCountry"
              placeholder="Country"
              type="text"
            />
          </div>
        </td>
      </tr>
      <tr>
        <td>Mobile Number</td>
        <td>
          <input
            aria-describedby="basic-addon1"
            aria-label="Username"
            class="form-control"
            formControlName="mobileNumber"
            type="text"
          />
        </td>
      </tr>

      <button class="btn btn-success mx-3 mt-3"> Add</button>
      <button class="btn btn-danger mx-3 mt-3"> Cancel</button>
    </form>

  </div>
</div>
