<div class="card">
  <div class="left-container">
    <app-sliders>
      <app-camera-capture *slide></app-camera-capture>
      <app-camera-capture *slide></app-camera-capture>
    </app-sliders>


    <!--    </div>-->
  </div>
  <div class="right-container">
    <form [formGroup]="vehicleDetails">
      <h3>Vehicle Details</h3>

      <tr>
        <td>Vehicle Number</td>
        <td>
          <input
            aria-describedby="basic-addon1"
            aria-label="Username"
            class="form-control"
            formControlName="VehicleNumber"
            type="text"
          />
        </td>
      </tr>
      <tr>
        <td>Vehicle Number Image</td>
        <div class="mb-3">
          <input
            class="form-control"
            formControlName="VehicleNumberImage"
            id="formFile"
            type="file"
          />
        </div>
      </tr>
      <tr>
        <td>Owner Name</td>
        <td>
          <input
            aria-describedby="basic-addon1"
            aria-label="Username"
            class="form-control"
            formControlName="OwnerName"
            type="text"
          />
        </td>
      </tr>
      <tr>
        <td>Driver Number</td>
        <td>
          <input
            aria-describedby="basic-addon1"
            aria-label="Username"
            class="form-control"
            formControlName="DriverNumber"
            type="text"
          />
        </td>
      </tr>
      <tr>
        <td>vehicle Modal</td>
        <td>
          <!-- <div class="dropdown">
            <button (click)="vechilemodal()" class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" (keyup)="filterFunction()">
              <a href="#about">About</a>
              <a href="#base">Base</a>
              <a href="#blog">Blog</a>
              <a href="#contact">Contact</a>
              <a href="#custom">Custom</a>
              <a href="#support">Support</a>
              <a href="#tools">Tools</a>
            </div>
          </div> -->

          <div class="autocomplete">
            <input
              class="form-control"
              formControlName="vehicleModal"
              id="myInput"
              name="myCountry"
              placeholder="Country"
              type="text"
            />
          </div>
        </td>
      </tr>
      <tr>
        <td>Mobile Number</td>
        <td>
          <input
            aria-describedby="basic-addon1"
            aria-label="Username"
            class="form-control"
            formControlName="mobileNumber"
            type="text"
          />
        </td>
      </tr>

    </form>
  </div>
</div>
