
<body>

    <div class = "invoice-wrapper" id = "print-area">
        <div class = "invoice">
            <div class = "invoice-container">
                <div class = "invoice-head">
                    <div class = "invoice-head-top">
                        <div class = "invoice-head-top-left text-start">
                            <h3>Zenpark</h3>
                        </div>
                        <div class = "invoice-head-top-right text-end">
                            <h3>Invoice</h3>
                        </div>
                    </div>
                    <div class = "hr"></div>
                    <div class = "invoice-head-middle">
                        <div class = "invoice-head-middle-left text-start">
                            <p><span class = "text-bold">Date</span>: 05/12/2020</p>
                        </div>
                        <div class = "invoice-head-middle-right text-end">
                            <p><span class = "text-bold">Booking Id:</span>16789</p>
                        </div>
                    </div>
                    <div class = "hr"></div>
                    <div class = "invoice-head-bottom">
                        <div class = "invoice-head-bottom-left">
                            <ul>
                                <li class = 'text-bold'>Vechile  Details:</li>
                                <li>Smith Rhodes</li>
                                <li>15 Hodges Mews, High Wycombe</li>
                                <li>HP12 3JL</li>
                                <li>United Kingdom</li>
                            </ul>
                        </div>
                        <div class = "invoice-head-bottom-right">
                            <ul class = "text-end">
                                <li class = 'text-bold'>Dealer Details:</li>
                                <li>Koice Inc.</li>
                                <li>2705 N. Enterprise</li>
                                <li>Orange, CA 89438</li>
                                <li>contactkoiceinc.com</li>
                            </ul>
                        </div>
                    </div>
                </div>

<hr>



