<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div class="split left">
  <div class="centered">

    <div class="dbody">
      <div class="sidebar">
        <div class="sidebar-brand">
          <h1><span class="lab la-accusoft"></span>Zenpark</h1>
        </div>
        <div class="sidebar-menu">
          <ul>
            <li><a href="/dhome" class="active">
              <i class='bx bxs-dashboard'></i>
              <span>Dashboard</span></a>
            </li>
            <li><a href="/dhome/off-booking">
              <i class='bx bxs-user-detail'></i>
              <span>Customer</span></a>
            </li>
            <li><a href="/dhome/booking-details">
              <i class='bx bxs-book-content' ></i>
              <span>Booking Detailes</span></a>
            </li>
            <li><a href="/dhome/payment-details">
              <i class='bx bx-history'></i>
              <span>Payment History</span></a>
            </li>
            <li><a href="/dhome/allpayment">
              <i class='bx bx-receipt' ></i>
              <span>Inventory</span></a>
            </li>
            <li><a href="/dhome/dealer-account">
              <i class='bx bxs-user-account' ></i>
              <span>Account</span></a>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <router-outlet></router-outlet>
  </div>
</div>















