<!--<div class="row justify-content-center  " id="bg-light">-->
<!--  <div class="col-md-12 col-xl-10">-->
<!--    <div class="card shadow-0 border rounded-3">-->
<!--      <div class="card-body">-->
<!--        <div class="row">-->
<!--          <div class="search-header">-->
<!--            <div class="search-box-list">-->
<!--              <li class="hov">CITIES!-->
<!--                <ul class="main">-->
<!--                  <li>Item1</li>-->
<!--                  <li>Item2</li>-->
<!--                  <li>Item3</li>-->
<!--                  <li>Item4</li>-->
<!--                </ul>-->
<!--              </li>-->

<!--              <div class="centerbox">-->
<!--                <div class="main-form-container">-->
<!--                  <form id="" class="" method="post">-->
<!--                    <input type="text" class="main-input main-name" name="NAME"  placeholder="Search"  />-->
<!--                    <input type="text" class="main-input main-location" name="LOCATION"  />-->
<!--                    <input id="main-submit" class="" type="submit" value="Search" />-->
<!--                  </form>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="wrapper">
  <div class="main_card">
    <div class="card_left">
      <div class="card_datails">
        <h3>MULTILEVEL CAR PARKING - THE GREATER CHENNAI CORP </h3>
        <div class="card_cat">
          <p class="year">2018</p>
          <p class="genre">Action | Adventure </p>
          <p class="time">2h 28m</p>
        </div>
        <p >  No 7/602, 7th Block, M S Parking, 7th Block, Mogappair West, Chennai - 600037 (Near Velammal Vidyalaya School) .</p>
        <div class="social-btn">

          <button>
            <i class='bx bxs-car'></i> BookSlot
          </button>

        </div>
      </div>
    </div>
    <div class="card_right">
      <div class="img_container">
        <img src="/assets/parking-spot-4615361.jpg" alt="">

      </div>
    </div>
  </div>
</div>


